repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        files: \.py$
        args: [--fix]
      - id: ruff-format
        files: \.py$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: \.py$
        additional_dependencies:
          - types-PyYAML
          - types-requests
          - pydantic==2.12.3
          - omegaconf
          - crewai
        args: ["--config-file", "mypy.ini", "--namespace-packages"]

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        files: \.py$

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: \.py$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
        files: \.py$
      - id: trailing-whitespace
        files: \.py$
