# Code Formatting and Linting
black==25.9.0
ruff==0.14.0
pylint==3.3.9

# Pre-commit Hooks
pre-commit==4.3.0

# Unit testing
pytest==8.4.2

# Evaluation
torchmetrics==1.8.2
torchmetrics[text]
scraperapi-sdk==1.5.4
torchvision==0.23.0