name: OmniAnswer CI-CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt

      - name: Pre-commit Hooks
        run: pre-commit run --all-files

      - name: Run mypy
        run: mypy --config-file .github/workflows/mypy.ini src

      - name: Run Unit Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)/src
          pytest -q

  docker-build-test:
      name: Docker Build & Test
      runs-on: ubuntu-latest
      needs: lint-and-typecheck

      steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t omnianswer:${{ github.sha }} \
          -f docker/omnianswer.Dockerfile \
          .

      - name: Test Docker Image
        run: |
          docker run --rm --user root \
          -v "${{ github.workspace }}:/home/omnianswer" \
          -e PYTHONPATH="/home/omnianswer:/home/omnianswer/src" \
          "omnianswer:${{ github.sha }}" \
          bash -c "pip install pytest && pytest -q tests"